<div id="menu">
            <ul>
                <li id="home"><a class="top" href="/">Home</a></li>
                <li><a class="top" href="/secret">SECRET Demo</a></li>
                <li><a class="top"><span id="status" class="label warn">Loading...</span></a></li>
            </ul>
        </div>