<% include header %>
        <% include menu %>
        <div id="content">
          <div style="float:left; width:60%">
            The server cannot read your input since it is encrypted on-the-fly.
            Open this page in another browser window for maximum effect.
            <br /><br />
            The server resets every 60 minutes. If you think you triggered a bug and cannot recover from it, please wait for a reset.
            <br /> <br />
            <form>
            <label>Split Size:
              <select onchange="editor.setMaxCharsPerSpan(parseInt(this.value, 10))">
                <option>4</option>
                <option>8</option>
                <option>16</option>
                <option>32</option>
                <option>64</option>
                <option>128</option>
                <option>256</option>
                <option>512</option>
              </select>
            </label>
          </form>
          <br /> <br />
          </div>
          <div style="margin-left: 60%">
            <iframe id="keyserverFrame" style="width:100%; height: 200px;" src="https://134.147.198.48:7021/logon" onload="javascript:KMSWrapper.setupCommPort(keyserverFrame.contentWindow)"></iframe>
          </div>
            <div id='partsdiv' style="width: 100%;" class="waitlarge" disabled></div>
            <br /> <br />
            <a class="button" target="_blank" href="secret_plain">Show me the ciphertext</a>
            <script>
                var elem = document.getElementById("partsdiv");
                var editor;
                var connection = sharejs.open('<%= docId %>', 'xml', function(error, doc) {
                    if (error) {
                        console.log("ERROR:", error);
                    } else {
                        editor = doc;
                        doc.attach_parts(elem);
                    }
                });
                
                connection.on("send", function(data) {
                    window.lastWireMessage = JSON.stringify(data);
                });
                
                var register = function(state, klass, text) {
                    connection.on(state, function() {
                        var status = document.getElementById('status');
                        status.className = 'label ' + klass;
                        status.innerHTML = text;
                        if(state === 'ok') {
                            elem.className = '';
                            elem.disabled = false;
                        } else {
                            elem.className = 'waitlarge';
                            elem.disabled = true;
                        }
                    });
                };
                register('ok', 'succ', 'Online');
                register('connecting', 'warn waitsmall', 'Connecting...');
                register('disconnected', 'impo', 'Offline');
                register('stopped', 'impo', 'Error');
            </script>
        </div>
<% include footer %>

