<% include header %>
        <% include menu %>
        <div id="content">
          <div style="float:left; width:60%">
            The server cannot read your input since it is encrypted on-the-fly.
            Open this page in another browser window for maximum effect.
          </div>
          <div style="margin-left: 60%">
            <iframe id="keyserverFrame" style="width:100%; height: 40px;" src="https://secret-keyserver.cloud.nds.rub.de/cryptoframe.html" onload="javascript:window.webcrypto = new WebCryptoProxy(keyserverFrame.contentWindow, 'https://secret-keyserver.cloud.nds.rub.de'); start()"></iframe>
          </div>        
            <div id="doc" style="width: 100%;"></div>
            <br /> <br />
            <a class="button" target="_blank" href="secret_v2_plain">Show me the ciphertext</a>
            <script>
                start = function() {
                var elem = document.getElementById("doc");
                elem.disabled = true;
                var editor;
                var connection = sharejs.open('<%= docId %>', 'xml', function(error, doc) {
                    if (error) {
                        console.log("ERROR:", error);
                    } else {
                        editor = doc;
                        doc.attach(elem);
                    }
                });
                
                var register = function(state, klass, text) {
                    connection.on(state, function() {
                        var status = document.getElementById('status');
                        status.className = 'label ' + klass;
                        status.innerHTML = text;
                        if(state === 'ok') {
                            elem.className = '';
                            elem.disabled = false;
                        } else {
                            elem.className = 'waitlarge';
                            elem.disabled = true;
                        }
                    });
                };
                register('ok', 'succ', 'Online');
                register('connecting', 'warn waitsmall', 'Connecting...');
                register('disconnected', 'impo', 'Offline');
                register('stopped', 'impo', 'Error');
                };
            </script>
        </div>
<% include footer %>

