<% include header %>
        <% include menu %>
        <div id="content">
            <h3>Live XML of the document:</h3>
            <textarea id='sharetext' rows="10" style="width: 99%;" disabled></textarea>
            Everyone editing <a href="<%= basePage %>">this page</a> modifies the XML you can see here. Edit it yourself to see the effect.
            <script>
                var elem = document.getElementById("sharetext");
                var connection = sharejs.open('<%= docId %>', '<%= docType %>', function(error, doc) {
                    if (error) {
                        console.log("ERROR:", error);
                    } else {
                        doc.attach_plainxml_to_textarea(elem);
                    }
                });
                
                var register = function(state, klass, text) {
                    connection.on(state, function() {
                        var status = document.getElementById('status');
                        status.className = 'label ' + klass;
                        status.innerHTML = text;
                        if(state === 'ok') {
                            elem.className = '';
                        } else {
                            elem.className = 'waitlarge';
                        }
                    });
                };
                register('ok', 'succ', 'Online');
                register('connecting', 'warn waitsmall', 'Connecting...');
                register('disconnected', 'impo', 'Offline');
                register('stopped', 'impo', 'Error');
            </script>
        </div>
<% include footer %>

